{% load template_math %}
{% load humanize %}

{% block body_content %}
	Reputation per week: {{total_reputation_per_week|intcomma}}
	<h2>Planes needed by type</h2>
	{% for key, value in planes_needed.items %}
		{{key}}: {{value}}<br/>
	{% endfor %}

	<h2>Missions accepted</h2>
	<table style="width:100%">
		<tr>
			<th>Mission nb</th>
			<th>Mission type</th>
			<th>Country</th>
			<th>Km</th>
			<th>Effective hours</th>
			<th>Reputation</th>
			<th>Reputation per hour</th>
			<th>Revenue</th>
			<th>Revenue per hour</th>
			<th>Stopover</th>
		</tr>

		{% for i in missions%}
			<tr>
				<td>{{i}}</td>
				<td>{{i.mission_type|mission_type_to_string}}</td>
				<td>{{i.country_nb|country_id_to_name}}</td>
				<td>{{i.km_nb|intcomma}}</td>
				<td>{{i.total_time}}</td>
				<td>{{i.reputation}}</td>
				<td>{{i.reputation_per_hour|floatformat:1}}</td>
				<td>{{i.contract_amount|intcomma}}</td>
				<td>{{i.revenue_per_hour}}</td>
				<td>{% if i.stopover %}Stopover{% endif %}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}